astroid==2.4.2
autopep8==1.5.4
beautifulsoup4==4.9.1
bs4==0.0.1
catfish==1.4.10
certifi==2018.8.24
chardet==3.0.4
cupshelpers==1.0
distro==1.3.0
distro-info==0.21
idna==2.6
isort==4.3.21
lazy-object-proxy==1.4.3
libvirt-python==5.0.0
lightdm-gtk-greeter-settings==1.2.2
lxml==4.5.2
mccabe==0.6.1
mugshot==0.4.1
onboard==1.4.1
pdfarranger==1.1.1
pep8==1.7.1
pexpect==4.6.0
Pillow==5.4.1
pycairo==1.16.2
pycodestyle==2.6.0
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pylint==2.5.3
PyPDF2==1.26.0
pysmbc==1.0.15.6
python-apt==1.8.4.1
python-debian==0.1.35
pyudev==0.21.0
reportlab==3.5.13
requests==2.21.0
rpl==1.5.6
six==1.12.0
soupsieve==2.0.1
toml==0.10.1
typed-ast==1.4.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
VapourSynth==45.1
vboxapi==1.0
wrapt==1.12.1
youtube-dl==2020.6.16.1
